<div class="row">
  <div class="col-md-6">

    <div class="row">
      <div class="col-4">
        <label for="nom">Nom</label>
      </div>
      <div class="col-8">
        <input class="form-control" id="nom" >
      </div>
    </div>
  </div>
<div class="col-md-6">
  <div class="row">
    <div class="col-4">
      <label for="prenom">Prénom</label>
    </div>
    <div class="col-8">
      <input class="form-control" id="prenom">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="job">Job</label>
    </div>
    <div class="col-8">
      <input class="form-control" id="job">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="quote">Citation Favori</label>
    </div>
    <div class="col-8">
      <input class="form-control" id="quote">
    </div>
  </div>
</div>

</div>
